.btn__light {
    width: 120px;
    height: 30px;
    background-color: $main-light;
    font-weight: 500;
    font-size: 12px;
    color: $btn__dark;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: all .5s ease;
    border: 1px solid $main-light;
    border-radius: 2px;
    &:hover {
        color: $main-light;
        background-color: transparent;
    }
    &_long {
        width: 180px;
    }
}
.btn__border {
    width: 140px;
    height: 30px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: $main-light;
    border: 1px solid $main-light;
    text-decoration: none;
    transition: all .5s ease;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    &:hover {
        color: $main-dark;
        background-color: $main-light;
    }
    &_dark {
        color: $main-dark;
        border: 2px solid $main-dark;
        &:hover {
            background-color: $main-dark;
            color: $main-light;
        }
    }
    &_dark-mar {
        color: $main-dark;
        border: 2px solid $main-dark;
        margin: 0 24px 24px 24px;
        &:hover {
            background-color: $main-dark;
            color: $main-light;
        }
    }
}
@media screen and (min-width: 750px) {
    .btn__border {
        &_dark-mar {
            margin: 0 60px 60px 60px;
        }
    }
}
@media screen and (min-width: 960px) {
    .btn__light {
        width: 160px;
        height: 48px;
        font-size: 16px;
        &_long {
            width: 200px;
        }
    }
    .btn__border {
        &_social {
            width: 169px;
            height: 51px;
            font-size: 18px;
            line-height: 24px;
        }
        &_dark,
        &_dark-mar {
            width: 160px;
            height: 48px;
            font-size: 16px;
        }
    }
}
@media screen and (min-width: 1270px) {
    .btn__border {
        &_dark-mar {
            margin: 0 80px 80px 80px;
        }
    }
}
@media screen and (min-width: 1300px) {
    .btn__light {
        width: 170px;
        height: 52px;
        font-size: 18px;
        &_long {
            width: 220px;
        }
    }
    .btn__border {
        &_dark,
        &_dark-mar {
            width: 170px;
            height: 52px;
            font-size: 18px;
        }
    }
}
@media screen and (min-width: 1440px) {
    .btn__border {
        &_social {
            margin-right: 60px;
        }
    }
}
@media screen and (min-width: 1650px) {
    .btn__border {
        &_social {
            margin-right: 80px;
        }
    }
}