.event {
    &__item {
        & img {
            min-height: 469px;
            max-height: 1200px;
            height: 100%;
            width: 100%;
        }
    }
    &__title {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        margin: 24px 24px 20px 24px;
    }
    &__text {
        font-size: 12px;
        line-height: 16px;
        margin: 0 24px 24px 24px;
    }
    &__social {
        margin: 0 24px;
        & img {
            width: 32px;
            height: 32px;
            margin-right: 25px;
        }
    }
}

@media screen and (min-width: 750px) {
    .event{
        &__item {
            & img {
                min-height: 1200px;
            }
            &_reverse {
                order: 2;
            }
        }
        &__title {
            font-size: 48px;
            line-height: 54px;
            margin: 60px 60px 20px 60px;
        }
        &__text {
            font-size: 16px;
            line-height: 22px;
            margin: 0 60px 24px 60px;
        }
        &__social {
            margin: 0 60px;
        }
    }
}
@media screen and (min-width: 1100px) {
    .event {
        &__cover {
            display: flex;
        }
        &__info {
            width: 50%;
        }
        &__item {
            width: 50%;
            & img {
                min-height: 760px;
            }
        }
    }
}
@media screen and (min-width: 1270px) {
    .event{
        &__title {
            font-size: 80px;
            line-height: 92px;
            margin: 80px 80px 20px 80px;
        }
        &__text {
            font-size: 18px;
            line-height: 24px;
            margin: 0 80px 40px 80px;
        }
        &__social {
            margin: 0 80px;
        }
    }
}