.header {
    height: 55px;
    // position: sticky;
    // top: 0;
    display: flex;
    align-items: center;
    padding: 0 24px;
    justify-content: space-between;
    &_slider {
        position: absolute;
        top: 0;
        z-index: 5;
        width: 100%;
        padding: 0;
    }
    &__social {
        display: none;
    }
    &__burger {
        display: block;
        position: relative;
        width: 28px;
        height: 25px;
        cursor: pointer;
        background-color: transparent;
        &::before,
        &::after {
            content: '';
            width: 100%;
            height: 2px;
            background-color: $main-light;
            position: absolute;
            right: 0;
            transition: all .3s;
            z-index: 10;
            border-radius: 5px;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
        & span {
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $main-light;
            top: 11px;
            transition: all .3s;
            border-radius: 5px;
        }
        &_slider {
            margin-right: 24px;
        }
    }
    &__logo {
        & img {
            width: 109px;
            height: 40px;
        }
        &_slider {
            margin-left: 24px;
        }
    }
}
@media screen and (min-width: 960px) {
    .header {
        padding: 25px 60px 0 60px;
        &_slider {
            padding: 24px 0 0 0;
        }
        &__social {
            display: flex;
            align-items: center;
            & img {
                width: 36px;
                height: 36px;
                margin-right: 25px;
                border: 1px solid transparent;
                padding: 5px;
                transition: all .3s;
                &:last-child {
                    margin-right: 0;
                }
                &:hover {
                    border: 1px solid #fff;
                }
            }
        }
        &__icon {
            margin-right: 60px;
        }
        &__logo {
            & img {
                width: 174px;
                height: 64px;
            }
            &_slider {
                margin-left: 60px;
            }
        }
        &__burger {
            width: 50px;
            height: 40px;
            &::before,
            &::after {
                height: 4px;
            }
            & span {
                height: 4px;
                top: 49%;
            }
            &_slider {
                margin-right: 60px;
            }
        }
    }
}
@media screen and (min-width: 1440px) {
    .header {
        padding: 25px 0 0 0;
        &__burger {
            display: none;
        }
    }
}
@media screen and (min-width: 1500px) {
    .header {
        &__icon {
            margin-right: 40px;
        }
    }
}
@media screen and (min-width: 1650px) {
    .header {
        padding: 25px 0 0 80px;
        &_slider {
            padding: 24px 0 0 0;
        }
    }
}