.main {
    background: url(../img/main/main_bg_small.jpg) center center/cover no-repeat;
    scroll-margin-top: 468px;
    &-slider {
        position: relative;
    }
    &-services {
        background: url(../img/main/main-services/main-services_bg_middle.jpg) center center/cover no-repeat;
    }
    &-pricing {
        background: url(../img/main/main-pricing/main-pricing_bg_big.jpg) center center/cover no-repeat;
    }
    &-tour {
        background: url(../img/main/main-tour/main-tour_bg_big.jpg) center center/cover no-repeat;
    }
    &-information {
        background: url(../img/main/main-information/main-information_bg_middle.jpg) center center/cover no-repeat;
    }
    &-accommodation {
        background: url(../img/accommodation/bear_hall/residence_main-bg.jpg) center center/cover no-repeat;
    }
    &-poster {
        background: url(../img/main/main-poster/main-poster_bg_big.jpg) center center/cover no-repeat;
    }
    &__cover {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        height: 381px;
        padding: 0 25px 32px 25px;
    }
    &__title {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 28px;
        line-height: 36px;
        color: $main-light;
        margin-bottom: 5px;
    }
    &__text {
        font-size: 12px;
        line-height: 16px;
        color: $main-light;
        margin-bottom: 20px;
        &_invis {
            display: none;
        }
    }
}
@media screen and (min-width: 622px) {
    .main {
        &__text {
            width: 87%;
        }
    }
}
@media screen and (min-width: 726px) {
    .main {
        &__text {
            width: 74%;
        }
    }
}
@media screen and (min-width: 960px) {
    .main {
        background: url(../img/main/main_bg_middle.jpg) center center/cover no-repeat;
        &-information {
            background: url(../img/main/main-information/main-information_bg_big.jpg) center center/cover no-repeat;
        }
        &__cover {
            padding: 0 60px 80px 60px;
            height: 740px;
        }
        &__title {
            font-size: 64px;
            line-height: 72px;
            margin-bottom: 30px;
            width: 69%;
        }
        &__text {
            font-size: 16px;
            line-height: 22px;
            width: 62%;
            &_invis {
                display: block;
                margin-bottom: 32px;
            }
        }
    }
}
@media screen and (min-width: 1440px) {
    .main {
        background: url(../img/main/main_bg_big.jpg) center center/cover no-repeat;
        &-services {
            background: url(../img/main/main-services/main-services_bg_big.jpg) center center/cover no-repeat;
        }
        &__cover {
            padding: 0 80px 120px 80px;
        }
        &__title {
            font-size: 82px;
            line-height: 92px;
            width: 57%;
        }
        &__text {
            font-size: 18px;
            line-height: 24px;
            width: 45%;
            &_invis {
                margin-bottom: 40px;
            }
        }
    }
}