.nav {
    display: none;
}

@media screen and (min-width: 1440px) {
    .nav {
        display: block;
        &__table {
            display: flex;
        }
        &__link {
            display: flex;
            align-items: center;
            & a {
                display: flex;
                align-items: center;
                font-size: 18px;
                line-height: 24px;
                text-decoration: none;
                color: $main-light;
                margin-right: 14px;
                & span {
                    color: $accent-color;
                }
            }
            &:hover {
                font-weight: 500;
            }
        }
    }
}
@media screen and (min-width: 1500px) {
    .nav {
        &__link {
            & a {
                margin-right: 25px;
            }
            & img {
                margin-left: 5px;
            }
        }
    }
}
@media screen and (min-width: 1650px) {
    .nav {
        &__link {
            & a {
                margin-right: 35px;
            }
        }
    }
}
@media screen and (min-width: 1800px) {
    .nav {
        &__link {
            & a {
                margin-right: 45px;
            }
        }
    }
}