.promo {
    &__wrapper {
        background: url(../img/promo/promo_bg.jpg) center center/cover no-repeat;
        height: 436px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 0 24px 32px 24px;
    }
    &__title,
    &__poster-title {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        color: $main-light;
        margin-bottom: 6px;
    }
    &__subtitle,
    &__poster-subtitle {
        font-size: 12px;
        line-height: 16px;
        color: $main-light;
    }
    &__map {
        & img {
            width: 100%;
        }
    }
    &__poster {
        background: url(../img/promo/promo__poster.jpg) center center/cover no-repeat;
        height: 436px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 0 24px 32px 24px;
        &-subtitle {
            margin-bottom: 20px;
        }
        &_summer {
            background: url(../img/main/main-pricing/main-pricing_bg_big.jpg) center center/cover no-repeat;
        }
        &_bear {
            background: url(../img/accommodation/bear_hall/residence_main-bg.jpg) center center/cover no-repeat;
        }
        &_squirrel {
            background: url(../img/accommodation/white_squirrel/preview_white_squirrel.jpg) center center/cover no-repeat;
        }
        &_owl {
            background: url(../img/accommodation/owl/preview_owl.jpg) center center/cover no-repeat;
        }
        &_deer {
            background: url(../img/accommodation/deer_creek/preview_deer_creek.jpg) center center/cover no-repeat;
        }
        &_fox {
            background: url(../img/accommodation/fox_hole/preview_fox_hole.jpg) center center/cover no-repeat;
        }
        &_ski-motel {
            background: url(../img/accommodation/ski-motel/residence_ski-motel.jpg) center center/cover no-repeat;
        }
    }
}

@media screen and (min-width: 509px) {
    .promo {
        &__subtitle,
        &__poster-subtitle {
            width: 78%;
        }
    }
}
@media screen and (min-width: 728px) {
    .promo {
        &__subtitle,
        &__poster-subtitle {
            width: 67%;
        }
    }
}
@media screen and (min-width: 900px) {
    .promo {
        &__wrapper,
        &__poster {
            height: 760px;
            padding: 0 60px 60px 60px;
        }
        &__title,
        &__poster-title {
            font-size: 64px;
            line-height: 72px;
            margin-bottom: 20px;
            width: 60%;
        }
        &__subtitle,
        &__poster-subtitle {
            width: 46%;
            font-size: 16px;
            line-height: 22px;
        }
    }
}
@media screen and (min-width: 1230px) {
    .promo {
        &__wrapper,
        &__poster {
            height: 860px;
            padding: 0 80px 80px 80px;
        }
        &__title,
        &__poster-title {
            font-size: 80px;
            line-height: 92px;
        }
        &__subtitle,
        &__poster-subtitle {
            font-size: 18px;
            line-height: 24px;
        }
    }
}