.swiper {
    // height: 380px;
    &-slide {
        position: relative;
        cursor: pointer;
        height: 380px;
        
        & img {
            height: 100%;
            width: 100%;
        }
        &__cover {
            position: absolute;
            top: 7%;
            left: 9%;
            right: 9%;
            z-index: 5;
            &_down {
                bottom: 14%;
                top: initial;
            }
            &_up {
                top: 17%;
                left: 6%;
            }
        }
        &__title {
            font-family: "Montserrat", sans-serif;
            font-size: 24px;
            line-height: 30px;
            font-weight: 700;
            color: $main-light;
            margin-bottom: 5px;
        }
        &__text {
            font-size: 12px;
            line-height: 16px;
            color: $main-light;
            margin-bottom: 10px;
            &_invis {
                display: none;
            }
        }
    }
    &-button-next,
    &-button-prev {
        display: none;
    }
}
.swiper-pagination-bullet {
    border: 3px solid #fff;
    background: var(--swiper-pagination-bullet-inactive-color,transparent);
    opacity: var(--swiper-pagination-bullet-inactive-opacity, 1);
}
.swiper-pagination-bullet-active {
    background: var(--swiper-pagination-color,#fff);
}
.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    text-align: right;
    bottom: var(--swiper-pagination-bottom,25px);
    left: -25px;
}

@media screen and (min-width: 500px) {
    .swiper {
        &-slide {
            height: 500px;
            &__text {
                &_up {
                    width: 60%;
                }
            }
        }
    }
}
@media screen and (min-width: 635px) {
    .swiper {
        &-slide {
            height: 550px;
        }
    }
}
@media screen and (min-width: 750px) {
    .swiper {
        &-slide {
            height: 600px;
        }
    }
}
@media screen and (min-width: 820px) {
    .swiper {
        &-slide {
            height: 650px;
        }
    }
}
@media screen and (min-width: 890px) {
    .swiper {
        &-slide {
            height: 700px;
        }
    }
}
@media screen and (min-width: 960px) {
    .swiper {
        &-slide {
            height: 770px;
            &__title {
                font-size: 48px;
                line-height: 54px;
            }
            &__text {
                font-size: 16px;
                line-height: 22px;
                &_invis {
                    display: block;
                }
            }
        }
        &-button-next,
        &-button-prev {
            display: block;
            color: #fff;
        }
        &-button-next::after,
        &-button-prev::after {
            font-size: 63px !important;
        }
    }
}
@media screen and (min-width: 1100px) {
    .swiper {
        &-slide {
            height: 820px;
        }
    }
}
@media screen and (min-width: 1150px) {
    .swiper {
        &-slide {
            height: 900px;
            &__text {
                width: 60%;
                &_up {
                    width: 45%;
                }
            }
        }
    }
}
@media screen and (min-width: 1440px) {
    .swiper {
        &-slide {
            height: 940px;
            &__title {
                font-size: 64px;
                line-height: 80px;
            }
            &__text {
                font-size: 18px;
                line-height: 24px;
                &_up {
                    width: 50%;
                }
            }
        }
    }
}