.time-period {
    background-color: $main-dark;
    padding: 0 24px 32px 24px;
    &__point {
        font-size: 12px;
        line-height: 16px;
        font-weight: 500;
        color: $main-light;
        border: 2px solid rgba(255, 255, 255, 0.2);
        margin-bottom: 10px;
        cursor: pointer;
        width: 159px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .5s ease;
    }
    &__cover {
        display: flex;
        align-items: center;
    }
    &__item {
        margin-right: 15px;
    }
    &__title {
        font-size: 12px;
        line-height: 16px;
        font-weight: 500;
        color: $main-light;
        margin-top: 10px;
    }
    &__price {
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        color: $main-light;
        margin-bottom: 20px;
    }
}
.active {
    border: 2px solid rgba(255, 255, 255, 0.8);
}
@media screen and (min-width: 750px) {
    .time-period {
        padding: 0 60px 60px 60px;
        &__point {
            font-size: 16px;
            line-height: 22px;
            width: 180px;
            height: 48px;
        }
        &__title {
            font-size: 16px;
            line-height: 22px;
            margin-top: 22px;
        }
        &__price {
            font-size: 48px;
            line-height: 54px;
        }
    }
}
@media screen and (min-width: 960px) {
    .time-period {
        &__point {
            margin-bottom: 24px;
        }
        &__item {
            display: flex;
            margin-right: 0;
            & ul {
                margin-right: 20px;
            }
        }
    }
}
@media screen and (min-width: 1440px) {
    .time-period {
        padding: 0 80px 80px 80px;
        &__point {
            font-size: 18px;
            line-height: 24px;
            height: 52px;
            margin-right: 20px;
        }
        &__title {
            font-size: 18px;
            line-height: 24px;
            margin-top: 30px;
        }
        &__price {
            font-size: 65px;
            line-height: 80px;
        }
        &__item {
            flex-direction: column;
            & ul {
                display: flex;
                margin-right: 0;
            }
        }
    }
}